$border-color-red: #e50914;
$border-color-gray: #acababf2;
$primary-color: #e50914;
$primary-color-hover: #ae0b13;
$secondary-color: #3b3d3b;
$secondary-color-hover: #616361;
$main-background: #0f0f0f;
